html
  head
    title='on Nuage K8S'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 On Nuage loves Kubernetes!!!
        p
        p 
          a.btn.btn-primary The Kubernetes Book
        p
